.HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC.swp
.RData
.Rhistory
easyqc_latest.sif
NCDS_COMBINED_20240904.txt
/NCDS/
/ALSPAC/
/FIOLA/
/GEN3/
/IOWA/
/NEURODYS/
/RAINE/
/TEDS/
/TORONTO/
/YORK/
/notebooks/
HRC.r1-1.GRCh37.wgs.mac5.sites.tab
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.cptid.maf001
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC.frq
maths_gwas.1tbl