.HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC.swp
.RData
.Rhistory
easyqc_latest.sif
NCDS_COMBINED_20240904.txt
/NCDS/
/notebooks/
HRC.r1-1.GRCh37.wgs.mac5.sites.tab
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.cptid.maf001
HRC.r1-1.GRCh37.wgs.mac5.sites.tab.FOReasyQC.frq
METAANALYSIS1.TBL
METAANALYSIS1.TBL.info